 .Content{
  color: black;
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-auto-rows: minmax(60px, auto);
  font-size: 17px;
  font-weight: 500;
  margin: 0 0 5px 0;
 }

.artcle{
    display: flex;
    grid-column: 2 ;
    justify-content: space-between;
    background: white;
    margin: 0 10px 0 10px;
    border-radius: 10px;
    align-items: center;
    padding: 5px 15px 5px 15px;
    font-weight: 400;
    
  }
  .icon{
    width: 50px;
    margin-left: 20px;
  }
  
  .itemTitle, 
  .itemPrice {
  width: 200px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  }
  .itemPrice{
    font-weight:500 ;
    margin-left: 15px;
  }

  
  .itemDate{
    width: 200px;
    font-weight: 200;
    color: gray;
    
  }

  
  .success{
    color:blueviolet ;
    width: 70px;
    margin-right: 20px;
  }
  .pending{
    color:#FFC436;
    width: 70px;
    margin-right: 20px;
  }
  .expired{
    color: gray;
    width: 70px;
    margin-right: 20px;
  }

